.algo {
  box-sizing: border-box;
  padding: 25px;
  margin: auto;
  /* background: red; */
  width: 100%;
}
.comp{
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* background: #000; */
}

