.header{
    background: grey;
    width: 100%;
}

.encabezado{
    background-color: #696868;
    width: 100%;
}

.encabezado__unam{
    width: 50%;
    align-items: center;
    font-size: 1.4rem;
}

.encabezado__escudo-unam{
    width: 15%;
    margin: 2% 2% 2% 5%;
}

.encabezado__fi{
    width: 50%;
    flex-direction: row-reverse;
}

.encabezado__letras-fi{
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 2rem;
}

.encabezado__letras-division{
    font-size: 1.3rem;
}

.encabezado__escudo-fi{
    width: 15%;
    margin: 2% 6% 2% 2%;
}
